html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Karla;
    font-weight: 400;
}

p, h2, h4 {
    margin: 0;
}

body {
    padding: 50px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#card {
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border-radius: 7px;
    overflow: hidden;
}

#top-section {
    width: 100%;
    height: 45%;
    padding: 23px;
}

#bottom-section {
    display: flex;
    width: 100%;
    height: 55%;
}

#bottom-left-section {
    width: 100%;
    height: 100%;
    background-color: #2BB3B1;
    padding: 23px;
    color: white;
}

#bottom-right-section {
    width: 100%;
    height: 100%;
    background-color: #4ABEBD;
    padding: 23px;
    color: white;
}

#top-section h2 {
    color: #4ABEBD;
    margin-bottom: 15px;
}

#top-section h4 {
    color: #C8D971;
    margin-bottom: 10px;
}

#top-section p {
    color: #aaabac;
}

#bottom-left-section h4 {
    margin-bottom: 15px;
}

#price, 
#price-frequency {
    display: inline-block;
}

#price {
    font-weight: 700;
    font-size: 1.5rem;
}

#price-frequency {
    font-size: 0.8rem;
    opacity: 0.7;
    position: relative;
    top: -2px;
    margin-left: 3px;
}

#price-container {
    margin-bottom: 10px;
}

#bottom-left-section p {
    margin-bottom: 20px;
}

#bottom-left-section button {
    margin-top: 5px;
    background-color: #BFDF32;
    width: 80%;
    height: 20%;
    border: 0px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

#bottom-right-section ul {
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
}

#bottom-left-section button:hover {
    cursor: pointer;
    background-color: #A8C42B;
    transform: scale(1.02);
}


@media (min-width: 576px) {
    #card {
        width: 550px;
        height: 400px;
    }

    #bottom-left-section, #bottom-right-section {
        width: 50%;
    }
}